:root {
	--light-gray: #ECECEC;
	--indigo: #4F58AF;
	--yellow: #E39D4B;
	--profile-max-width: 1000px;
	--dark-yellow: #C0843F;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

#download-resume-link {
	background-color: var(--yellow);
}
#download-resume-link:hover {
	background-color: var(--dark-yellow);
}

.pill-skill {
	background-color: var(--light-gray);

	&:hover{
		background-color: #dadada;
	}
}

